.card {
  border-style: outset;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}
.card-title {
  width: 170px;
  height: 38px;
}
.card-subtitle {
  width: 300px;
}
.card-content {
  height: 150px;
}
.card-row {
  padding: 0.5%;
}
