<button mat-stroked-button (click)="createAlbum()">create Album</button>

<div class="row center-content">
  <div *ngFor="let album of albums;let i = index" class="card-row">
    <mat-card class="card h-100">
      <mat-card-header>
        <div mat-card-avatar class="pointer" (click)="addPhotoToAlbum(i, album.title)">
          <mat-icon svgIcon="add_photo_to_album" aria-hidden="false" aria-label="add_photo_to_album" class="nav-icon">
          </mat-icon>
        </div>
        <mat-card-title>
          <a [routerLink]="['/photo-gallery']" [queryParams]="{albumId:album.id}" queryParamsHandling="merge">
            <h6><b>{{album.title}}</b></h6>
          </a>
        </mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          {{album.description}}
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>