html {
  -webkit-tap-highlight-color: transparent;
}

.photo-gallery {
  min-width: 240px;
  min-height: 240px;
  padding-top: 5px;
  padding-left: 16px;
}

.gallery-image {
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
}

.photo-modal {
  max-width: 768px;
}