<div class="row">
  <div class="col-md-4" *ngFor="let photo of photos">
    <div>
      <a>
        <img class="img-fluid img-thumbnail" src="{{photo.base64Content}}" alt="hi" (click)="loadThumbnail(photo.base64Content)">
      </a>
    </div>
  </div>
</div>



<!-- <mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0622.JPG" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0588.JPG" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0470.JPG" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel> -->