<button (click)="onEdit()">edit</button>
<button *ngIf="isEditMode"(click)="createAlbum()">create Album</button>

<div class="row">
  <div *ngFor="let photo of photos;let i = index" style="width:360px; height:250px;" class="col-md-4">
    <mat-checkbox [checked]="photos[i].selected" *ngIf="isEditMode" (change)="onSelect(i)"></mat-checkbox>
    <img class="img-fluid img-thumbnail" style="width:100%; cursor: pointer; object-fit:cover"
      [ngStyle]="{height: isEditMode ? '220px' : '250px'  }" src="{{photo.base64ThumbnailPhoto}}" alt="could not load"
      (click)="openModal(photo, i)">
  </div>
</div>