<app-navbar></app-navbar>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 mb-3">

    <img src="assets/IMG_0967.JPG" width="100%" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-3">

    <img src="assets/IMG_1103.JPG" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="assets/IMG_1109.JPG" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="assets/IMG_1196.JPG" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="assets/IMG_0257.JPG" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="assets/IMG_0462.JPG" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->


<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0622.JPG" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0588.JPG" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/IMG_0470.JPG" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>


<div class="row">
  <mdb-image-modal [modalImages]="images" type="margin"></mdb-image-modal>
</div>
<app-footer></app-footer>