
<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="bfg4Ro30huD8c9oFQELHphYBKBvDiWZixxFb2KTQYVI" />
<title>Privacy Policy for kooriim</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/public/livelink/css/livelink.css" />
<meta name="robots" content="noindex" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64426183-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-64426183-1');
    </script>
</head>
<body>

<div class="page">
<input id="en" checked="checked" type="radio" name="languages" />
<header class="header">
<div class="container">
<span class="logo">Privacy Policy for kooriim</span>
</div>
</header>
<div class="subnav">
<div class="container">
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span> <span class="label-name">Languages</span></label>
<ul class="menu">
<li class="en language_label" label-language="en">
<label for="en">English</label>
</li>
</ul>

</div>
</div>


<section>
<div class="en section_container" section-language="en">
<div id="md_en" data-target="out_en" class="agreement_md"><h1>Privacy Policy</h1>
<p>Last updated: May 28, 2021</p>
<p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
@
"index.html" 282L, 21887B