.opac {
  color: black;
  opacity: 0.5 !important;
}

.mat-icon {
  width: 60px;
  height: 60px;
}

::ng-deep .modal-dialog {
  max-width: 90%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.overlay-container {
  position: relative;
}

.overlay-left {
  position: absolute;
  top: 50%;
  left: 2%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 5;
}

.overlay-right {
  position: absolute;
  top: 50%;
  right: 2%;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 5;
}

.overlay-more {
  position: absolute;
  top: 1%;
  right: 2%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.collapse-backdrop {
  z-index: 100000 !important;
  background-color: rgb(230, 244, 244);
}

.vid {
  z-index: 100;
}