html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-aliceblue {
  background-color: #F0F8FF		;
}

.button-mediumslateblue {
  background-color: mediumslateblue;
}

.round-border {
  border-radius: 20px;
}

.pointer {
  cursor: pointer;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.truncate-card-description{
  width: 10px !important;
  white-space: nowrap !important;;
  overflow: hidden !important;;
  text-overflow: ellipsis !important;;
}
.truncate-card-title{
  width: 120px !important;;
  white-space: nowrap !important;;
  overflow: hidden !important;;
  text-overflow: ellipsis !important;;
}